parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    stubFiles:
        - tests/stubs/omeka.stub
    paths:
        - src
        - Module.php
    bootstrapFiles:
        - tests/bootstrap.php
    tmpDir: .phpstan-cache
